# Postfix (authentification)

LOG='/var/log/mail.log'

SEARCH=' warning: .* authentication failed: '
EXTRACT='s/^.*: warning: // ; s/.*\[// ; s/\].*$//'

ADDR_TRIGGERS='
5:2:86400
60:5:86400
3600:8:86400
'

NET_TRIGGERS='86400:2:86400'

ACTION_IN='-p tcp  -m multiport --dports 25,587,465'
#ACTION_IN='-j DROP'
ACTION_OUT='-j DROP'

ENABLE_BAN=0
